<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.santotomas.catdog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/veterinario"
        android:label="@string/app_name"
        android:roundIcon="@drawable/veterinario"
        android:supportsRtl="true"
        android:theme="@style/Theme.VetCare">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC20yKvCRdgyeEVTdOy-30d_vIihpE9L-E"/>

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Maincontacto"
            android:exported="false" />
        <activity
            android:name=".splashscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_splashscreen"
            android:theme="@style/Theme.VetCare.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoard"
            android:exported="true" />
        <activity
            android:name=".Leer"
            android:exported="false" />
        <activity
            android:name=".Editar"
            android:exported="false" />
        <activity
            android:name=".alumnos"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>